---
import TransactionsPage from "../components/Transactions/TransactionsPage";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Transactions | Finance Tracker">
  <main class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-6">Transactions</h1>
    <TransactionsPage client:load />
  </main>
</Layout>
